{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    body{
        background-color: #000;
    }
    .container {
        font-family: Comic Sans MS;
        max-width: 100% !important; 
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #ddd;
        background-size: 100%;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
    }

    h1 {
        font-size: 28px;
        text-align: center;
    }

    form {
        text-align: right;
        display: flex;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #4f4f4f;
    }

    .btn-custom {
        background-color: #fff !important; 
        color: #000000 !important; 
        border: 1px solid #000 !important; 
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out !important;
    }

    .btn-custom:hover {
        background-color: #218838 !important; 
        color: #fff !important; 
        border: 1px solid #218838 !important; 
    }
    .btn-custom:active {
        background-color: #17702e !important; 
        border: 1px solid #17702e !important; 
    }
</style>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" aria-disabled="true">Clarence Grady</a>
        <a class="navbar-brand" aria-disabled="true">PBP A</a>
    </div>
</nav>
<div class="container">
    <h1>Edit Game</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="btn btn-custom me-2" value="Edit Game"/>
                    </td>
                </tr>
            </table>
        </div>
    </form>

{% endblock %}